/* L'arrière-plan sombre (Overlay) */
.about-overlay {
  position: fixed; /* Reste fixé à l'écran même si on scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999; /* On peut mettre très haut pour être sûr */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px); /* Petit effet de flou sympa sur le fond */
}

/* La boite blanche centrale */
.about-modal {
  background-color: var(--color-bg);
  color: var(--color-txt); /* Texte foncé car fond blanc */
  width: 90%;
  max-width: 400px; /* Largeur max sur PC */
  padding: 30px;
  border-radius: 30px;
  position: relative;
  text-align: center;
  animation: popIn 0.3s ease;
  border: 4px solid var(--selected-tag-color);
}

/* Image */
.about-image-container img {
  max-width: 200px;
  justify-content: center;
  margin-bottom: 15px;
}

/* Texte */
.about-text h2 {
  margin-top: 0;
}

.about-text p {
  line-height: 1.5;
  font-size: 0.95rem;
}



/* Bouton croix pour fermer */
.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-txt-tired);
}

.close-modal-btn:hover {
  color: var(--color-txt);
}

/* Animation d'ouverture */
@keyframes popIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}