/*------------------NAVBAR------------------*/

.navbar {
  height: 55px;
  background: var(--color-bg-sidebar);
  border-bottom: 3px solid var(--color-bg-separator);
  padding: 0 10px;
  
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  /*
  overflow: visible;
  position: relative;
  z-index: 1000;*/
}


.navbar-left-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -28px;
}

.navbar-right-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*------------------SIDEBAR TOOGLE BUTTON------------------*/
.sidebar-toggle {
  z-index: 0px;
  font-size: 1.1rem !important;
  padding-left: 3rem;
  padding-top: 1px;
  
}

.sidebar-toggle:hover {
  transform: translateX(5px);
}



/*------------------SEARCH BAR------------------*/
.search-container {
  max-width: 300px;
}

.search-input {
  width: 100%;
  padding: 2px 0px 2px 15px;
  background-color: var(--color-bg-button);
  border: 4px solid var(--selected-tag-color);
  border-radius: 20px;
  color: var(--color-txt);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  outline: none !important;
  transition: all 0.2s ease-in;
}

.search-input:focus {
  box-shadow: 0 0 10px var(--selected-tag-color) !important;
}




/*------------------CLOSE BUTTON SEARCH BAR------------------*/
.clear-search-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 19%;
  left: 265px;
  background: none;
  border: none;
  color: var(--color-txt-tired);
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
  z-index: 10;
}
.clear-search-btn:hover {
  color: var(--color-txt);
}




/*------------------VIDEO COUNT------------------*/
.video-count {
  color: var(--color-txt);
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  background: none;
}




/*------------------NAVBAR BUTTON------------------*/
.navbar-button {
  background-color: var(--color-bg-button);
  border: 4px solid var(--selected-tag-color);
  color: var(--color-txt);
  font-weight: 400;
  font-family: monospace;
  transition: all 0.2s ease-in;
  font-size: 1.1em;
  cursor: pointer;
  border-style: solid;
  border-radius: 5rem;
  width: 5rem;
  height: 2.2rem;
  font-size: 0.9em;
  z-index: 500;
}

.navbar-button:hover {
  box-shadow: 0 0 15px var(--selected-tag-color);
}




/*------------------THEME TOGGLE------------------*/
.theme-icon {
  width: 20px;
  margin-left: 8px;
  top: 30%;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
}




/*------------------NO ADS BUTTON------------------*/
.tooltip-wrapper {
    position: relative;
    display: flex;
    width: fit-content;
    border-radius: 80px;
}

.tooltip-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-bg-button);
    color: var(--color-txt);
    font-family: monospace;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    border: 3px solid var(--selected-tag-color);
    z-index: 2000;
    width: 220px;
    transition: opacity 0.2s;
}


.tooltip-content::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    height: 30px;
    /*border: 1px solid yellow;*/
}

.tooltip-wrapper:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}


.toggle-ads-btn {
    color:  var(--selected-tag-color-light);
    font-family: monospace;
    font-weight: 900;
    font-size: 14px;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
}

.toggle-ads-btn:hover {
    filter: brightness(1.2);
}