/* src/App.css */
/* Structure principale */


/*------------------CONTAINER------------------*/

.app-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}



.main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
}





/* Zone principale avec scroll horizontal */
.main-content {
  flex: 1;
  padding: 20px;
  background: var(--color-bg);

  /* Scroll */
  overflow-y: hidden; /* Cache le scroll vertical */
  scroll-behavior: smooth;
}

/*noise*/
.noise {
  background-image: 
    linear-gradient(var(--noise-overlay, rgba(0, 0, 0, 0.5)), var(--noise-overlay, rgba(0, 0, 0, 0.5))),
    url("/noise/noise.png");
  background-size: 150px;
}

[data-theme="light"] .noise {
  --noise-overlay: rgba(255, 255, 255, 0.1);
}


/*CROLL SUR CHROME*/

::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre verticale */
  height: 20px; /* Hauteur de la barre horizontale */
}

::-webkit-scrollbar-track {
  background: var(--color-bg); /* Couleur de la piste */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--selected-tag-color); /* Couleur du curseur */
  border-radius: 5px;
  border: 2px solid var(--color-bg); /* Bordure pour l'effet "dans la piste" */
}

::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--selected-tag-color) 80%, white);
}


* {
  scrollbar-width: auto;
  scrollbar-color: var(--selected-tag-color) var(--color-bg);
}