/* src/App.css */
body {
  background: linear-gradient(135deg, #ff0000, #ef00db, #5500df);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}


.card {
  transition: all 0.3s ease;
  border: 1px solid #000000;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1) !important;
  border: 5px solid #ff0000;
}

.badge {
  font-weight: 800;
  padding: 0.4em 0.8em;
}
